﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="UnitTest.aspx.vb" Inherits="UnitTest" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button
            ID="Button1"
            runat="server"
            Text="Button"
             OnClientClick="ApplyProcessingStyle(this);" 
            />
        <asp:Literal ID="Literal1" 
            runat="server"></asp:Literal>
    
    </div>
    </form>
</body>
<script
    type="text/javascript"
    src="<%= Page.ResolveUrl("~/Scripts/zjOk2Confirm.js?v2") %> "></script>
</html>
