﻿<%@ Page Title="" Language="C#" MasterPageFile="~/zmSite01.master" %>

<%@ Register src="../../UserControls/SiteMapMenuImage.ascx" tagname="SiteMapMenuImage" tagprefix="uc1" %>

<script runat="server">

</script>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:SiteMapMenuImage ID="SiteMapMenuImage1" 
        runat="server"  SiteMapProvider="Admin"/>
</asp:Content>

