﻿
.gvGridHeader th
{
/*
Usage:
    <HeaderStyle BackColor="#000084" Font-Bold="True" ForeColor="White" CssClass="gvGridHeader" />

*/

    padding: 5px;
    border-bottom: 3px solid #FFAF0A;
    height: 28px;
    font-size: 10pt;
    color: #000000 !important;
    text-align: left; /*Override by using gvColAlignRight as needed*/
    font-weight:normal;
    background: #CC0000;
}

.gvColAlignRight
{

/*
Usage:
    <HeaderStyle CssClass="gvColAlignRight" />
    <ItemStyle CssClass="gvColAlignRight" />

*/

    text-align:right !important;
}

.gvColAlignCenter
{

/*
Usage:
    <HeaderStyle CssClass="gvColAlignCenter" />
    <ItemStyle CssClass="gvColAlignCenter" />

*/

    text-align:center !important;
}

.gvGridPager
{   /*Usage: <PagerStyle CssClass="gvGridPager"  BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />*/
    border-bottom: 3px solid #FFAF0A;
    background: #CC0000;
    font-size: 12pt;
}

.gvGridPager td
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.gvGridPager a
{ /*page# available for selection*/
    color: #808080;
    padding: 12px;
    background-image: url(../App_Images/Framework_Images/PagerRing.png); 
    background-position: center; 
    background-repeat: no-repeat;
}

.gvGridPager a:hover
{ /*page# hovered on*/
    color: #808080;
    padding: 12px;
    background-image: url(../App_Images/Framework_Images/PagerOrange.png); 
    background-position: center; 
    background-repeat: no-repeat;
}

.gvGridPager span
{ /*page# currently selected*/
    color: #808080;
    padding: 12px;
    background-image: url(../App_Images/Framework_Images/PagerRed.png); 
    background-position: center; 
    background-repeat: no-repeat;
}
