﻿
.Search /* image on button */ 
{
     padding-left: 15px;
     background: url(../App_Images/Framework_Images/Search.png) no-repeat left center;
     width: 5rem;
     border-radius: 25px;
     box-shadow: 3px 3px 3px rgba(0,0,0,.15); 
}

.Clear /* image on button */ 
{
     padding-left: 15px;
     background: url(../App_Images/Framework_Images/Clear.jpg) no-repeat left center;
     width: 5rem;
     border-radius: 25px;
     box-shadow: 3px 3px 3px rgba(0,0,0,.15);      
}

.Save /* image on button */ 
{
     padding-left: 15px;
     background: url(../App_Images/Framework_Images/Save.png) no-repeat left center;
     width: 5rem;
     border-radius: 25px;
     box-shadow: 3px 3px 3px rgba(0,0,0,.15);      
}

.Delete /* image on button */ 
{
     padding-left: 15px;
     background: url(../App_Images/Framework_Images/Delete.png) no-repeat left center;
     width: 5rem;
     border-radius: 25px;
     box-shadow: 3px 3px 3px rgba(0,0,0,.15);      
}

.Edit /* image on link */ 
{
     padding-left: 15px;
     background: url(../App_Images/Framework_Images/Edit.png) no-repeat left top;
}

.PreviousPage /* image on link */ 
{
     padding-left: 15px;
     background: url(../App_Images/Framework_Images/PreviousPage.png) no-repeat left top;
}

.Add /* image on link */ 
{
     padding-left: 15px;
     background: url(../App_Images/Framework_Images/Add.png) no-repeat left top;
}