﻿#top2
{
 font-size: 0.6em;
 height: 8px; 
 background-color: black;
}

.td-bgcolor
{
    background-color: #F7F7DE;
}

.td-filler
{
    width: 30px; 
    background-color: transparent;
}

body {
	margin: 0;
	padding-bottom: 2em;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top: 2px solid #B51032;
}

@media print
{
    .HideOnPreview
    {
        display: none; 
    }
}

@media screen
{
    .HideOnView
    {
        display: none; 
    }
}

.Selected:hover
{
    /*background-image: url("../App_Images/Framework_Images/target.png");*/
    background-position: center;
    background-color: InfoBackground; 
    
}  

