﻿<%@ Page Title="" Language="C#" MasterPageFile="~/zmSite01.master" %>

<script runat="server">

</script>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        Sorry that you encountered an error. We deeply regret the inconvenience this may 
        have caused to you.<br />In order to serve you better, the responsible parties have been notified.
        <br />
        

    <asp:HyperLink ID="Back" runat="server" NavigateUrl="~/Default.aspx">Please click here to continue.</asp:HyperLink>
</p>
</asp:Content>

