﻿<%@ Page Title="" Language="C#" MasterPageFile="~/zmSite01.master" %>

<script runat="server">

</script>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Panel ID="Panel1" runat="server" Font-Size="14pt" Style="vertical-align: top;
        position: static; text-align: center" Width="100%">
        You are not authorized to access this area on the web site.
    <br />
        Please contact the administrator of this app to obtain access.
    </asp:Panel>
</asp:Content>

