﻿<%@ Page Title="" Language="C#" MasterPageFile="~/zmSite01.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<%@ Register src="../../UserControls/SiteMapMenuImage.ascx" tagname="SiteMapMenuImage" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:SiteMapMenuImage ID="SiteMapMenuImage1" 
    runat="server" 
    SiteMapProvider="Home" />
    </asp:Content>

